<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet icon" href="/img/images/medical-logo.jpg">
    <title>Admin Home</title>
</head>
<body>
    <div class="loader" id="loader">

    </div>
    <header>
        <div class="header-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="header-top-area">
                            <div class="header-top-left-text">
                                <p>We provides <span>best</span> medical accessories</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="header-top-right-text">
                            <!-- <ul>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="contact.html">FAQ</a></li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        
        <div id="sticky-header" class="menu-area">
            <div class="container">
                <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                <div class="menu-wrap">
                    <nav class="menu-nav">
                        <div class="row align-items-center">
                            <div class="col-lg-5 d-none d-lg-block">
                                <div class="navbar-wrap main-menu d-none d-lg-flex">
                                    <ul class="navigation">
                                        <li class="active"><a href="/">Home</a></li>
                                        <li class="menu-item-has-children"><a href="#">Pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="/">Thogwa Medicals</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#" class="logout">Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3">
                                <div class="logo">
                                    <a href="/"><img
                                            src="img/Thogwa medicals project/Thogwa Medicals logo .jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-9">
                                <div class="header-action">
                                    <ul>
                                        <li class="header-search">
                                            <form action="#">
                                                <button><i class="fas fa-search"></i></button>
                                                <input type="text" placeholder="Search Me">
                                            </form>
                                        </li>
                                        <li class="header-user d-none d-md-block">
                                            <a href="#" onclick="openNav()"><i class="far fa-user"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <!-- Mobile Menu  -->
                <div class="mobile-menu">
                    <nav class="menu-box">
                        <div class="close-btn"><i class="fas fa-times"></i></div>
                        <div class="nav-logo"><a href="/"><img src="img/Thogwa medicals project/Thogwa Medicals logo .jpg" alt="" title=""></a>
                        </div>
                        <div class="menu-outer">
                            <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                        </div>
                        <div class="social-links">
                            <ul class="clearfix">
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                                <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="menu-backdrop"></div>
                <!-- End Mobile Menu -->
            </div>
        </div>
    </header>

    <div class="nav-content"></div>

            <!-- PROFILE -->
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <h2>Admin Profile.</h2>
            
                <div class="profile-image">
                    <img src="/img/user.png" alt="">
                </div>
            
                <div class="input-lables">
                    <label for="">Full Name:</label>
                    <input type="text" id="name-ad">
                    <label for="">Gender:</label>
                    <input type="text" id="gender-ad">
                    <label for="">Email Address:</label>
                    <input type="text" id="email-ad">
                    <label for="">Cell Numbers:</label>
                    <input type="text" id="phone-ad">
                </div>
            </div>

    <div class="main-body">
        <div class="left-body">
            <div class="heading">
                <h1>ADMIN PANEL</h1>
                <div class="line"></div> 
            </div>        
            
            <div class="change-btns">
                <p class="side-bar-list active btn1"><i class="fa fa-th" aria-hidden="true"></i> Dashboard.</p>
                <p class="side-bar-list btn2"><i class="fa-solid fa-house"></i> Add Product.</p>
                <p class="side-bar-list btn3"><i class="fa-solid fa-list"></i> Latest News.</p>
                <p class="side-bar-list btn4"><i class="fa-solid fa-book"></i> Customer Registered.</p>
                <p class="side-bar-list btn5"><i class="fa-solid fa-book"></i> Product Four.</p>
            </div>
        </div>

        <div class="right-body">
           <div class="is-active active">
                <div class="right-contents">
                     <div class="boxes">
                        <div class="heading">
                            <h1>Dashboard.</h1>
                            <div class="line"></div>
                        </div><br>
                        <div class="col-div-4 column">
                            <div class="box">
                                <p class="reg_learners">0 </p><br>
                                <div class="box-item">
                                    <span>Products</span>
                                    <i class="fa-solid fa-users"></i>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-div-4 column">
                            <div class="box">
                                <p class="reg_tutor">0</p><br>
                                <div class="box-item">
                                    <span>Products</span>
                                    <i class="fa-solid fa-users"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-div-4 column">
                            <div class="box">
                                <p class="booking-num">0</p><br>
                                <div class="box-item">
                                    <span>Products</span>
                                    <i class="fa-solid fa-users"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-div-4 column">
                            <div class="box">
                                <p class="learner-acc">0 </p><br>
                                <div class="box-item">
                                    <span>Products</span>
                                    <i class="fa-solid fa-users"></i>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="box-content">
                        <canvas id="myChart" style="width:100%;max-width:800px"></canvas>
                    </div>
                </div>

                
           </div>

           <div class="is-active">
                <div class="heading">
                    <h1>Add Product:</h1>
                    <div class="line"></div>
                </div>

                <div class="learner-table">
                    <div class="add-products">
                        <div class="product-section">
                            <div class="image">
                                <label for="product-image">Chooose Image...</label><input type="file" id="product-image" onchange="photoValid()">
                                <small class="small-msg">Success</small>
                            </div>
                            <input type="text" placeholder="Product Name...">
                            <input type="text" placeholder="Product Description...">
                            <input type="text" placeholder="Product Price...">
                            <select name="" id="product-category">
                                <option value="#">Select Category...</option>
                                <option value="Medical Equipment">Medical Equipment</option>
                                <option value="Dental Equipment">Dental Equipment</option>
                                <option value="Pharmaceuticals">Pharmaceuticals</option>
                                <option value="Infection Control">Infection Control</option>
                                <option value="Laboratory">Laboratory</option>
                                <option value="Medical Imaging">Medical Imaging</option>
                            </select>
                            <select name="" id="sub-category">
                                <option value="#">Select Sub Category...</option>
                            </select>

                            <div class="btn-submit">
                                <button>Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
           </div>

           <div class="is-active">
                <div class="heading">
                    <h1>Latest News:</h1>
                    <div class="line"></div>
                </div>
                <div class="learner-table">
                    <div class="files">
                        <button class="pdf">Download PDF</button>
                        <button class="csv">Download CSV</button>
                    </div>

                </div>
           </div>

           <div class="is-active">
                <div class="learner-table">
                    <div class="heading">
                        <h1>Customer Registered:</h1>
                        <div class="line"></div>
                    </div>

                    <div class="table-section">
                        <table class="table table-striped"></table>
                    </div>
                </div>
           </div>

           <div class="is-active">
                <div class="learner-table">
                    <div class="heading">
                        <h1>Product Four:</h1>
                        <div class="line"></div>
                    </div>
                </div>
           </div>
            
        </div>
    </div>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <!-- https://flickity.metafizzy.co/#initialize-with-jquery -->
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="https://kit.fontawesome.com/5dd83d6fa5.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/991fa081b6.js" crossorigin="anonymous"></script>
    <script src="/js/admin.js"></script>
</body>
</html>